@media (max-width: 1440px) {

}
@media (max-width: 1232px) {
	.new-banners{
		min-width: 472px;
	}
}
@media (max-width: 1024px) {
	.name{
		font-size: 50px;
	}
	.btn-detail{
		padding: 13px 22px;
		column-gap: 55px;
	}
	.new-banners{
		display: none;
	}
	.new-articles__inner{
		display: block;
	}
	.new-articles{
		.slider-header{
			display: flex;
		}
	}
	.name_font{
		font-size: 40px;
	}
}
@media (max-width: 768px) {
	.slider-header__content{
		width: 100%;
		justify-content: space-between;
	}
	.btn-detail{
		display: none;
	}
	.advantages__title{
		font-size: 20px;
	}
	.name_font{
		font-size: 35px;
	}
	.articles-item{
		.btn-detail{
			display: flex;
		}
	}
}

@media (max-width: 480px) {
	.pagination-adapt{
		display: block;
	}
	.advantages__item{
		padding:  17px 13px;
		column-gap: 28px;
	}
	.advantages__icon{
		width: 65px;
		height: 65px;
	}
	.name{
		font-size: 40px;
	}
	.promotion__swiper{
		padding: 0 15px;
	}
	.promotion-item__name{
		padding:19px 24px 43px;
	}
	.slider-header{
		margin-bottom: 21px;
	}
	.advantages{
		padding-bottom: 33px;
	}
	.promotion{
		padding-bottom: 71px;
	}
	.name_font{
		font-size: 30px;
	}
	.new-articles{
		padding-bottom: 72px;
	}
	.new-articles__inner{
		padding: 0 15px;
	}
	.articles-item__image{
		margin-bottom: 32px;
	}
	.articles-item__name{
		margin-bottom: 29px;
		color: #000000;
		max-width: 224px;
	}
}
@media (max-width: 385px) {
	.name_font{
		font-size: 21px;
	}
}