body {
	display: flex;
	flex-direction: column;
	background-color: #fff;
}
@font-face {
	font-family: 'Days One';
	src: url('../fonts/DaysOne-Regular.ttf') format('truetype');
}

.main {
	flex: 1 1;
}
.container {
	max-width: 1900px;
	margin: 0 auto;
	padding: 0 15px;
}
.min-container {
	max-width: 1622px;
	margin: 0 auto;
	padding: 0 15px;
}
.text {
	font-family: Montserrat;
	font-size: 10px;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0em;
	text-align: left;
	color: #fff;
}
.name {
	font-family: Days One;
	font-size: 60px;
	font-weight: 400;
	line-height: 1.4;
	letter-spacing: 0em;
	text-align: left;
	color: #2f2f2f;
}
.link {
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 700;
	line-height: 1.4;
	letter-spacing: 0em;
	text-align: left;
	color: #2c2c2c;
	transition: 0.6s;
	text-transform: uppercase;
	&:hover {
		color: #9a2c31;
	}
}
.btn-slider {
	width: 50px;
	height: 50px;
	background-color: #9a2c31;
	transition: 0.6s;
	position: relative;
	&::before {
		content: '';
		width: 32px;
		height: 32px;
		background-image: url('../img/arrow-slider.svg');
		background-size: contain;
		position: absolute;
		top: 50%;
		left: 50%;
		background-repeat: no-repeat;
		transform: translate(-25%, -50%);
	}
	&__arrow {
		width: 32px;
		height: 32px;
	}
	&:hover {
		opacity: 0.7;
	}
	&_next {
		transform: rotate(180deg);
		background-color: rgba(#2f2f2f, 0.6);
	}
}
.name-item {
	font-family: Montserrat;
	font-size: 20px;
	font-weight: 700;
	line-height: 1.4;
	letter-spacing: 0em;
	text-align: left;
	color: #2f2f2f;
}
.btn-detail {
	display: flex;
	align-items: center;
	column-gap: 85px;
	border: 2px solid #9a2c31;
	padding: 16px 30px;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 700;
	line-height: 1.2;
	letter-spacing: 0em;
	text-align: center;
	transition: 0.6s;
	color: #2f2f2f;
	&::after {
		content: '';
		width: 30px;
		height: 30px;
		background-image: url('../img/detail.svg');
		background-size: contain;
		transition: 0.6s;
	}
	&:hover {
		color: #9a2c31;
		&::after {
			transform: translateX(10px);
		}
	}
}
.footer-name {
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 500;
	line-height: 25px;
	letter-spacing: 0em;
	text-align: left;
	color: #0d0b0b;
	cursor: default;
}
.item-hover {
	transition: 0.6s;
	&:hover {
		transform: translate(-8px, -8px);
	}
}
.pagination-adapt {
	margin-left: 15px;
	margin-top: 24px;
	display: none;
	span {
		width: 6px;
		height: 6px;
		background-color: #9a2c31;
		opacity: 1;
		transition: 0.6s;
	}
	.swiper-pagination-bullet-active {
		width: 43px;
		border-radius: 50px;
	}
}
.pagination {
	display: flex;
	align-items: center;
	justify-content: space-between;
	&__btn {
		padding: 8px 15px;
		column-gap: 25px;
	}
	&__prev {
		transform: rotate(180deg);
		span {
			transform: rotate(180deg);
		}
	}
}
.pagination-number {
	display: flex;
	column-gap: 59px;
	&__num {
		cursor: pointer;
		transition: 0.4s;
		font-family: Montserrat;
		font-size: 14px;
		font-weight: 700;
		line-height: 21px;
		letter-spacing: 0em;
		text-align: left;
		color: #2f2f2f;
		&:hover {
			color: #9a2c31;
		}
	}
	.pagination-number-active {
		color: #9a2c31;
	}
}
.footer-text {
	font-family: Montserrat;
	font-size: 12px;
	font-weight: 600;
	line-height: 2;
	letter-spacing: 0em;
	text-align: left;
	color: #888888;
}
