.breadcrumbs {
	padding: 16px 0;
	background-color: rgba(#000, 0.6);
	width: 100%;
	&__inner {
		display: flex;
		column-gap: 29px;
	}
	&__item {
		font-family: Montserrat;
		font-size: 14px;
		font-weight: 500;
		line-height: 1.3;
		letter-spacing: 0em;
		text-align: left;
		position: relative;
		color: #fff;
		&::before {
			content: '/';
			position: absolute;
			left: -15px;
		}
		&:first-child {
			&::before {
				content: '';
			}
		}
	}
	&__link {
		color: #fff;
		transition: 0.6s;
		&:hover {
			color: red;
		}
	}
}
.filter {
	background-color: #f4f4f4;
	border-bottom: 1px solid #000000;
	padding: 55px 0;
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 32px;
	}
	&__title {
		font-family: Montserrat;
		font-size: 60px;
		font-weight: 700;
		line-height: 1;
		letter-spacing: 0em;
		color: #484848;
		text-align: left;
	}
	&__reset {
		background-color: #fff;
		padding: 17px;
		max-width: 220px;
		width: 100%;
		font-family: Montserrat;
		font-size: 17px;
		font-weight: 700;
		line-height: 1.2;
		letter-spacing: 0em;
		border: 2px solid #9a2c31;
		color: #2c2c2c;
		transition: 0.6s;
		&:hover {
			background-color: #9a2c31;
			color: #fff;
		}
	}
	&__items {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
		column-gap: 32px;
	}
}

.select2-container {
	background-color: #f3f3f3;

	width: 160px;
	margin-top: 5px;
	z-index: 45;
	.select2-results__options {
		box-shadow: 0 0 3px 1px black;
	}
	.select2-results__option--highlighted {
		color: #fff;
		background-color: #9a2c31;
	}
	.select2-results__option {
		margin-top: 10px;
		font-size: 18px;
		font-family: Montserrat;
		cursor: pointer;
		padding: 15px;
		&:hover {
			color: #fff;
			background-color: #9a2c31;
		}
	}
	.select2-search__field {
		display: none;
	}
}
.filter-item {
	width: 100%;
	display: block;
	.select2-search .select2-search--dropdown {
		display: none;
	}

	.filter-item__select {
		display: none;
	}
	.select2-container--default .select2-selection--single {
		display: block;
		font-size: 18px;
		line-height: 1;
		height: 54px;
		cursor: pointer;
		color: rgba(#2f2f2f, 0.8);
		font-family: Montserrat;
		padding: 15px;
		font-weight: 500;
		border: 0 solid #eee;
		border-top: 2px solid rgba(#2f2f2f99, 0.6);
		background-color: rgba(217, 217, 217, 0.4);
		border-radius: 0;
		width: 40px;
		width: 100%;
		position: relative;
	}
	.select2-container--default
		.select2-selection--single
		.select2-selection__arrow {
		font-size: 0;
		position: absolute;
		b {
			background-color: none;
			background-image: url('../img/arrow-catalog.svg');
			width: 29px;
			border: none;
			height: 12px;
			position: absolute;
			background-size: cover;
			background-repeat: no-repeat;
			transition: 0.7s;
		}
		top: 50%;
		transform: translateY(-50%);
		width: 29px;
		height: 12px;
		right: 24px;
	}
	.select2-container .select2-container--default {
		border: 1px red solid;
	}
	.select2-container--open {
		b {
			transform: rotate(180deg);
		}
	}
	&__name {
		margin-bottom: 10px;
		font-family: Montserrat;
		font-size: 18px;
		font-weight: 500;
		line-height: 1.2;
		letter-spacing: 0em;
		text-align: left;
	}
	&__select {
		appearance: none;
		border: none;
		text-align: left;
		outline: none;
		option {
			&:hover {
				background-color: red;
			}
		}
		&::-ms-value {
			color: #333;
			background-color: #fff;
		}
	}
	&__wrapper {
		position: relative;
		&::after {
			content: '';
			pointer-events: none;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 15px;
			display: block;

			background-image: url('../img/arrow-catalog.svg');
			background-size: contain;
			z-index: 2;
		}
	}
	&__search {
		display: flex;
		width: 100%;
		position: relative;
	}
	&__input {
		width: 100%;
		display: block;
		border-top: 2px solid rgba(47, 47, 47, 0.6);
		background-color: rgba(217, 217, 217, 0.4);
		font-family: Montserrat;
		font-size: 18px;
		font-weight: 500;
		line-height: 1;
		letter-spacing: 0em;
		text-align: left;
		padding: 15px 15px;
		padding-right: 45px;
		&::placeholder {
			transition: 0.6s;
		}
		&:focus {
			&::placeholder {
				opacity: 0;
			}
		}
	}
	&__btn {
		position: absolute;
		right: 15px;
		top: 50%;
		transform: translateY(-50%);
		svg {
			path {
				transition: 0.6s;
			}
		}
		&:hover {
			svg {
				path {
					fill: #5e5e5e;
				}
			}
		}
	}
}
.shops-catalog {
	padding: 44px 0;
	&__title {
		margin-bottom: 48px;
		font-family: Montserrat;
		font-size: 32px;
		font-weight: 700;
		line-height: 27px;
		letter-spacing: 0em;
		text-align: left;
		color: #9a2c31;
	}
	&__items {
		display: grid;
		row-gap: 49px;
		column-gap: 114px;
		grid-template-columns: 1fr 1fr 1fr;
		margin-bottom: 64px;
	}
}
.shops-catalog-item {
	max-width: 465px;
	width: 100%;
	border-radius: 10px;
	overflow: hidden;
	border: solid 1px #d9b0b2;
	&__images {
		width: 100%;
		height: 305px;
		position: relative;
		overflow: hidden;
		&::before {
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			z-index: 2;
			pointer-events: none;
			background-color: rgba(#000000, 0.2);
		}
	}
	&__brand {
		pointer-events: none;
		position: absolute;
		top: 0;
		right: 0;
		border: rgba(#9a2c31, 0.3) 1px solid;
		border-top: 0;
		border-right: 0;
		width: 157px;
		height: 80px;
		overflow: hidden;
		z-index: 2;
		background-color: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__brand-icon {
		width: 80%;
		background-size: contain;
		height: 80%;
	}
	&__img {
		transition: 0.6s;
		width: 100%;
		height: 100%;
		object-fit: cover;
		display: block;
		position: relative;
		&:hover {
			transform: scale(1.1);
		}
	}
	&__header {
		margin-top: 20px;
		display: flex;
		justify-content: space-between;
		padding: 0 22px;
		margin-bottom: 20px;
	}
	&__stars {
		display: flex;
		align-items: end;
		column-gap: 5px;
	}
	&__name {
		font-family: Montserrat;
		font-size: 20px;
		font-weight: 700;
		line-height: 1.2;
		letter-spacing: 0em;
		text-align: left;
	}
	&__stars-num {
		margin-left: 10px;
		font-family: Montserrat;
		font-size: 12px;
		font-weight: 500;
		line-height: 1.3;
		letter-spacing: 0em;
		text-align: left;
		color: #000000;
	}
	&__tags {
		font-family: Montserrat;
		font-size: 14px;
		font-weight: 500;
		line-height: 30px;
		letter-spacing: 0em;
		text-align: left;
		padding: 0 22px;
		span {
			font-size: 16px;
			font-weight: 700;
		}
	}
	&__btn {
		margin-top: 15px;
		width: 100%;
		justify-content: space-between;
		padding: 12px 20px;
		border: 0;
		border-top: #cc9598 solid 1px;
	}
}
.shops-tags {
	position: absolute;
	bottom: 16px;
	right: 16px;
	display: flex;
	column-gap: 15px;
	z-index: 3;
	&__item {
		background-color: rgba(#000000, 0.4);
		font-family: Montserrat;
		font-size: 15px;
		font-weight: 400;
		line-height: 1.2;
		letter-spacing: 0em;
		text-align: left;
		color: #fff;
		padding: 4px 11px;
		border: #fff solid 1px;
		border-radius: 13px;
	}
}
@media (max-width: 1540px) {
	.shops-catalog__items {
		column-gap: 30px;
	}
	.filter__title {
		font-size: 52px;
	}
}
@media (max-width: 1440px) {
	.filter__items {
		row-gap: 28px;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	.filter-item {
		&:last-child {
			grid-column-start: 3;
			grid-column-end: 5;
		}
	}
	.filter__title {
		font-size: 48px;
	}
}
.filter-wrapper__adapt,
.filter-wrapper__submit {
	display: none;
}
.shops-filter-open{
	display: none;
}
@media (max-width: 1180px) {
	.shops-filter-open{
		display: block;
		position: fixed;
		bottom: 0;
		background-color:#9a2c31;
		width: 100%;
		padding: 12px;
		font-size: 22px;
		font-family:Montserrat ;
		color:#fff;
		z-index: 4;
	}
	.shops-catalog__items {
		grid-template-columns: 1fr 1fr;
		column-gap: 120px;
	}
	.shops-catalog-item {
		max-width: 100%;
	}
	.filter__reset {
		display: none;
	}
	.filter__title {
		font-size: 40px;
	}
	.filter__header {
		margin-bottom: 0;
	}
	.filter {
		padding: 40px 0;
	}
	.shops-catalog__title {
		font-size: 26px;
	}
	
	.filter-wrapper {
		transition: 0.6s;
		transform: translateX(2000px);
		position: fixed;
		background-color: rgba(#000, 0.6);
		width: 100%;
		height: 100vh;
		z-index: 40;
		top: 0;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		&__inner {
			max-width: 420px;
			width: 100%;
			background-color: #fff;
			padding: 20px 30px;
			position: relative;
			margin: 0 5px; 
		}
		&__close {
			background-color: rgba(217, 217, 217, 0.4);
			position: absolute;
			top: 0;
			right: 0;
			color: #000;
			width: 35px;
			height: 35px;
			font-weight: 600;
			font-family: Montserrat;
			font-size: 22px;
		}
		&__name {
			font-family: Montserrat;
			font-size: 24px;
			font-weight: 700;
			line-height: 1.2;
			margin-bottom: 15px;
			letter-spacing: 0em;
			text-align: left;
		}
		&__btn {
			margin-bottom: 15px;
			font-family: Montserrat;
			font-size: 16px;
			color: #da0510;
		}
		&__submit {
			margin-top: 20px;
			padding: 15px;
			font-family: Montserrat;
			font-weight: 600;
			font-size: 22px;
			border: #9a2c31 2px solid;
			width: 100%;
		}
	}
	.open-fil{
		.filter-wrapper{
			transform: translateX(0);
		}
	}
	.filter-item__select {
		max-width: 360px;
		option {
			border: 2px solid red;
		}
	}
	.filter__items {
		display: flex;
		flex-direction: column;
		row-gap: 13px;
	}
	.filter-wrapper__adapt,
	.filter-wrapper__submit {
		display: block;
	}
}
@media (max-width: 1000px) {
	.shops-catalog__items {
		column-gap: 56px;
	}
	.shops-catalog-item__images {
		height: 270px;
	}
	.shops-catalog__title {
		font-size: 21px;
	}
}
@media (max-width: 768px) {
	.filter {
		padding: 30px 0;
	}
	.breadcrumbs {
		display: none;
	}
	.shops-catalog__items {
		grid-template-columns: 1fr;
	}
	.shops-catalog-item {
		max-width: 400px;
		margin: 0 auto;
	}
	.shops-catalog-item__name {
		font-size: 17px;
	}
	.shops-catalog-item__tags span {
		font-size: 14px;
	}
	.shops-catalog-item__tags {
		font-size: 12px;
	}
	.shops-catalog-item__header,
	.shops-catalog-item__tags {
		padding: 0 10px;
	}
	.filter__title {
		font-size: 32px;
	}
	.shops-catalog__title {
		font-size: 17px;
	}
}
@media (max-width: 480px) {
	.shops-catalog-item__header {
		margin: 15px 0px;
	}
	.shops-catalog-item__images {
		font-size: 234px;
	}
	.filter__title {
		font-size: 24px;
	}
	.filter-item__input {
		font-size: 15px;
	}
	.filter-wrapper__submit {
		padding: 12px;
		font-size: 19px; 
	}
}
