.breadcrumbs {
	padding: 16px 0;
	background-color: rgba(#000, 0.6);
	width: 100%;
	&__inner {
		display: flex;
		column-gap: 29px;
	}
	&__item {
		font-family: Montserrat;
		font-size: 14px;
		font-weight: 500;
		line-height: 1.3;
		letter-spacing: 0em;
		text-align: left;
		position: relative;
		color: #fff;
		&::before {
			content: '/';
			position: absolute;
			left: -15px;
		}
		&:first-child {
			&::before {
				content: '';
			}
		}
	}
	&__link {
		color: #fff;
		transition: 0.6s;
		&:hover {
			color: red;
		}
	}
}
.filter {
	background-color: #f4f4f4;
	border-bottom: 1px solid #000000;
	padding: 55px 0;
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 32px;
	}
	&__title {
		font-family: Montserrat;
		font-size: 60px;
		font-weight: 700;
		line-height: 1;
		letter-spacing: 0em;
		color: #484848;
		text-align: left;
	}
	&__reset {
		background-color: #fff;
		padding: 17px;
		max-width: 220px;
		width: 100%;
		font-family: Montserrat;
		font-size: 17px;
		font-weight: 700;
		line-height: 1.2;
		letter-spacing: 0em;
		border: 2px solid #9a2c31;
		color: #2c2c2c;
		transition: 0.6s;
		&:hover {
			background-color: #9a2c31;
			color: #fff;
		}
	}
	&__items {
		display: flex;
		column-gap: 32px;
	}
}
.filter-item {
	&__name {
		margin-bottom: 10px;
		font-family: Montserrat;
		font-size: 18px;
		font-weight: 500;
		line-height: 1.2;
		letter-spacing: 0em;
		text-align: left;
	}
	&__select {
		appearance: none;
		border: none;
		background-color: rgba(#d9d9d9, 0.4);
		font-family: Montserrat;
		font-size: 18px;
		font-weight: 500;
		line-height: 17px;
		letter-spacing: 0em;
		text-align: left;
		color: rgba(#2f2f2f, 0.8);
		width: 100%;
		padding: 15px;
		border-top: 2px solid rgba(#2f2f2f99, 0.6);
		outline: none;
		cursor: pointer;
		&:active,
		&:hover,
		&:focus {
			outline: 0;
			outline-offset: 0;
		}
		option {
			outline: none;
			background: none;

			&:checked {
				background-color: #000;
				color: #fff;
			}
			&:hover {
				background-color: red;
			}
		}
		&::-ms-value {
			color: #333;
			background-color: #fff;
		}
	}
	&__wrapper {
		width: 309px;
		position: relative;
		&::after {
			content: '';
			pointer-events: none;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 15px;
			display: block;
			width: 29px;
			height: 12px;
			background-image: url('../img/arrow-catalog.svg');
			background-size: contain;
			z-index: 2;
		}
	}
	&_flex {
		flex: 1 1;
	}
	&__search {
		display: flex;
		width: 100%;
		position: relative;
	}
	&__input {
		width: 100%;
		display: block;
		border-top: 2px solid rgba(47, 47, 47, 0.6);
		background-color: rgba(217, 217, 217, 0.4);
		font-family: Montserrat;
		font-size: 18px;
		font-weight: 500;
		line-height: 1;
		letter-spacing: 0em;
		text-align: left;
		padding: 12px 15px;
		&::placeholder {
			transition: 0.6s;
		}
		&:focus {
			&::placeholder {
				opacity: 0;
			}
		}
	}
	&__btn {
		position: absolute;
		right: 15px;
		top: 50%;
		transform: translateY(-50%);
		svg {
			path {
				transition: 0.6s;
			}
		}
		&:hover {
			svg {
				path {
					fill: #5e5e5e;
				}
			}
		}
	}
}
.shops-catalog {
	padding: 44px 0;
	&__title {
		margin-bottom: 48px;
		font-family: Montserrat;
		font-size: 32px;
		font-weight: 700;
		line-height: 27px;
		letter-spacing: 0em;
		text-align: left;
		color: #9a2c31;
	}
}
.shops-catalog-item {
	max-width: 465px;
	width: 100%;
	border-radius: 10px;
	overflow: hidden;
	border: solid 1px #d9b0b2;
	&__images {
		width: 100%;
		height: 305px;
		position: relative;
		overflow: hidden;
		&::before {
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			z-index: 2;
			pointer-events: none;
			background-color: rgba(#000000, 0.2);
		}
		
	}
	
	&__img {
		transition: 0.6s;
		width: 100%;
		height: 100%;
		object-fit: cover;
		display: block;
		position: relative;
		&:hover {

				transform: scale(1.1);
			
		}
	}
	&__header {
		margin-top: 20px;
		display: flex;
		justify-content: space-between;
		padding: 0 22px;
		margin-bottom: 20px;
	}
	&__stars {
		display: flex;
		align-items: end;
		column-gap: 5px;
	}
	&__name {
		font-family: Montserrat;
		font-size: 20px;
		font-weight: 700;
		line-height: 1.2;
		letter-spacing: 0em;
		text-align: left;
	}
	&__stars-num {
		margin-left: 10px;
		font-family: Montserrat;
		font-size: 12px;
		font-weight: 500;
		line-height: 1.3;
		letter-spacing: 0em;
		text-align: left;
		color: #000000;
	}
	&__tags {
		font-family: Montserrat;
		font-size: 14px;
		font-weight: 500;
		line-height: 30px;
		letter-spacing: 0em;
		text-align: left;
		padding: 0 22px;
		span {
			font-size: 16px;
			font-weight: 700;
		}
	}
	&__btn{
		margin-top: 15px;
		width: 100%;
		justify-content: space-between;
		padding: 12px 20px;
		border:0;
		border-top: #CC9598 solid 1px;
	}
}
.shops-tags {
	position: absolute;
	bottom: 16px;
	right: 16px;
	display: flex;
	column-gap: 15px;
	z-index: 3;
	&__item {
		background-color: rgba(#000000, 0.4);
		font-family: Montserrat;
		font-size: 15px;
		font-weight: 400;
		line-height: 1.2;
		letter-spacing: 0em;
		text-align: left;
		color: #fff;
		padding: 4px 11px;
		border: #fff solid 1px;
		border-radius: 13px;
	}
}
