.header {
	&__inner {
		background-color: #2f2f2f;
	}
}
.header-top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 9px;
	padding-bottom: 9px;
	&__items {
		display: flex;
		column-gap: 29px;
		&_gap {
			column-gap: 22px;
			position: relative;
			&::after {
				content: '|';
				position: absolute;
				color: #fff;
				font-weight: 700;
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}
	&__item {
		font-family: Montserrat;
		font-size: 11px;
		font-weight: 500;
		line-height: 1.3;
		letter-spacing: 0em;
		text-align: left;
		color: #fff;
	}
	a,
	button {
		transition: 0.6s;
		&:hover {
			color: red;
		}
	}
}

.header-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 18px;
	&__btn {
		padding: 14px 27px;
		border: 2px solid #9a2c31;
		&:hover {
			color: #fff;
			background-color: #9a2c31;
		}
	}
	&__label {
		position: relative;
		max-width: 242px;
		width: 100%;
		display: flex;
	}
	&__input {
		border: 1px solid #2f2f2f;
		display: block;
		width: 100%;
		padding: 11px 13px;
		font-family: Montserrat;
		font-size: 10px;
		font-weight: 300;
		line-height: 1.5;
		letter-spacing: 0em;
		text-align: left;
		color: #2f2f2f;
		&::placeholder {
			transition: 1s;
		}
		&:focus {
			border-color: #9a2c31;
			&::placeholder {
				transform: translateX(-500px);
			}
		}
	}
	&__search {
		position: absolute;
		right: 13px;
		top: 50%;
		transform: translateY(-50%);
		svg {
			path {
				transition: 0.6s;
			}
		}
		&:hover {
			svg {
				path {
					fill: #9a2c31;
				}
			}
		}
	}
}
.header-search {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	position: absolute;
	background-color: #fff;
	transform: translateY(100%) scale(0);
	transition: 0.6s;
	bottom: 0;
	right: 0;
	padding: 17px 9px;
	z-index: 20;
	width: 361px;
	&__item {
		display: flex;
		align-items: center;
		column-gap: 8px;
	}
	&__image {
		max-width: 91px;
		height: 76px;
		width: 100%;
		overflow: hidden;
	}
	&__img {
		height: 100%;
		object-fit: cover;
	}
	&__name {
		font-family: Montserrat;
		font-size: 14px;
		font-weight: 700;
		line-height: 1.2;
		color: #2f2f2f;
		letter-spacing: 0em;
		text-align: left;
		margin-bottom: 8px;
	}
	&__text {
		font-family: Montserrat;
		font-size: 9px;
		font-weight: 400;
		line-height: 1;
		letter-spacing: 0em;
		text-align: left;
		color: #b8b8b8;
		margin-bottom: 9px;
	}
	.header-search__content {
		a {
			border: 0;
			column-gap: 10px;
			font-family: Montserrat;
			font-size: 8px;
			font-weight: 700;
			line-height: 1.2;
			padding: 0;
			justify-content: end;
			letter-spacing: 0em;
			text-align: center;
			max-width: 100px;
			margin-left: auto;
			&::after {
				width: 15px;
				background-repeat: no-repeat;
				background-position: center;
			}
		}
	}
}
.header-search-open {
	transform: translateY(100%);
}
.menu {
	display: flex;
	column-gap: 20px;
}
.social {
	display: flex;
	column-gap: 16px;
	&__item {
		padding: 3px;
		border-radius: 4px;
		transition: 0.6s;

		svg {
			path {
				transition: 0.6s;
			}
		}
		&:hover {
		background-color: #9a2c31;

			svg {
				path {
					filter: brightness(0) invert(1);
				transition: 0.6s;
				}
			}
		}
	}
}
.header-item-active {
	color: red;
}
//footer
.footer {
	&__top {
		border-top: 2px rgba(#2f2f2f66, 0.4) solid;
		background-color: rgba(#2f2f2f66, 0.1);
		padding: 45px 0;
	}
	&__content {
		display: flex;
		justify-content: space-between;
	}
	&__inner {
		display: flex;
		column-gap: 75px;
	}
	&__columns {
		display: flex;
		column-gap: 79px;
	}
	&__none {
		display: none;
	}
}
.footer-item {
	&__logo {
		display: block;
		margin-bottom: 11px;
	}
	&__sub-title {
		margin-bottom: 20px;
		text-align: end;
		font-family: Montserrat;
		font-size: 12px;
		font-weight: 500;
		line-height: 1.4;
		letter-spacing: 0em;
		color: #717171;
	}
	&__items {
		display: flex;
		flex-direction: column;
		row-gap: 20px;
	}
	&__name {
		margin-bottom: 4px;
	}
	&__text {
		font-family: Montserrat;
		font-size: 12px;
		font-weight: 500;
		line-height: 17px;
		letter-spacing: 1.3;
		text-align: left;
		color: #717171;
	}
}
.footer-name {
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 700;
	line-height: 25px;
	letter-spacing: 0em;
	text-align: left;
	color: #0d0b0b;
	cursor: default;
}
.footer-socials {
	margin-top: auto;
	padding: 15px;
	&__name {
		margin-bottom: 11px;
		font-weight: 500;
	}
	&__items {
		display: flex;
		justify-content: space-between;
	}
	&__link {
		svg {
			path {
				transition: 0.6s;
			}
		}
		&:hover {
			svg {
				path {
					fill: #9a2c31;
				}
			}
		}
	}
}
.footer-columns {
	display: flex;
	flex-direction: column;
	row-gap: 12px;
	margin-top: 34px;
	&__link {
		font-family: Montserrat;
		font-size: 14px;
		font-weight: 500;
		line-height: 1.2;
		letter-spacing: 0em;
		text-align: left;
		color: #0d0b0b;
		transition: 0.4s;
		&:hover {
			color: #b8373d;
		}
	}
}
.footer-bottom {
	background-color: #000000;
	padding: 14px 0;
	&__inner {
		display: flex;
		justify-content: space-between;
	}
	&__text {
		font-family: Montserrat;
		font-size: 14px;
		font-weight: 700;
		line-height: 1.2;
		letter-spacing: 0em;
		text-align: left;
		color: #fff;
	}
	a {
		color: #9a2c31;
	}
}
.logo {
	&__icon {
		object-fit: contain;
		width: 100%;
	}
}

//adaptive
@media (max-width: 1780px) {
	.logo {
		max-width: 204px;
		&__icon {
			object-fit: contain;
			width: 100%;
		}
	}
	.footer__inner {
		column-gap: 55px;
	}
}
@media (max-width: 1440px) {
	.logo {
		max-width: 224px;
	}
	.header-content__label{
		width: fit-content;
		display: flex;
		align-items: center;
	}
	.header-content__input{
		padding: 0;
		border: 0;
		width: 0;
	}
	.header-content__btn{
		span{
			display: none;
		}
	}
	.header-content{
		padding: 18px 15px;
	}
	.header-content__btn{
		padding: 14px 21px;
	}
	.header-content__search{
		transform: translate(0);
		margin-left: 47px;
		display: block;
		position: static;
	}
	.open-input{
		.social{
			display: none;
		}
		.header-content__input{
			padding: 11px 13px;
			border: 1px solid #757575;
			width: 242px;
		}
		.header-content__search{
			transform: translateY(-50%);
			margin-left: 0;
			position: absolute;
		}
	}
}
@media (max-width: 1250px) {
	.footer__inner {
		flex-wrap: wrap;
	}
	.footer__top {
		padding-bottom: 25px;
	}
	.footer__inner {
		column-gap: 20px;
	}
	.footer__columns {
		column-gap: 45px;
	}
	//delete
	.social{
		display: none;
	}
	.header-content__btn {
		display: none;
	}
}
@media (max-width: 1124px) {
	.header-top__item_display {
		display: none;
	}
	.menu__item {
		&:nth-child(4) {
			display: none;
		}
		&:nth-child(5) {
			display: none;
		}
		&:nth-child(6) {
			display: none;
		}
	}
	.footer-columns__link {
		min-width: 120px;
		display: block;
	}
	.footer__columns{
		flex-wrap: wrap;
	}
}
@media (max-width: 960px) {
	.footer__columns {
		flex-wrap: wrap;
		justify-content: space-around;
		row-gap: 20px;
	}
}
.header-buttons {
	display: none;
	column-gap: 20px;
}
.burger-menu {
	display: none;
	width: 32px;
	height: 19px;
	position: relative;
	span,
	&::before,
	&::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: 2px;
		background-color: #9a2c31;
	}
	&::before {
		top: 50%;
		transform: translateY(-100%);
	}
	&::after {
		top: auto;
		bottom: 0;
		width: 60%;
		transform: translateY(-50%);
	}
}
@media (max-width: 840px) {
	.menu {
		display: none;
	}
	.header-buttons {
		display: flex;
	}
	.burger-menu {
		display: block;
	}
	.header-content__label {
		display: none;
	}
}

.footer-name {
	svg {
		display: none;
	}
}
.footer__inner {
	.footer-name {
		font-weight: 500;
	}
}
@media (max-width: 768px) {
	.footer__none {
		display: block;
		padding: 0 15px;
		margin-bottom: 20px;
		.footer-item__logo {
			max-width: 100%;
		}
	}
	.footer__top {
		padding-top: 22px;
		padding-bottom: 14px;
	}
	.header-top__items {
		display: none;
	}
	.footer-columns {
		padding: 0 15px;
		padding-top: 10px;
	}
	.header-top__items_gap {
		display: flex;
	}
	.footer__content {
		flex-direction: column;
	}
	.footer-name {
		position: relative;
		svg {
			display: inline;
			position: absolute;
			right: 18px;
			top: 50%;
			transform: translateY(-50%);
			transition: 0.6s;
		}
	}
	.footer {
		.min-container {
			padding: 0;
		}
		.ui-accordion .ui-accordion-header {
			padding: 9px 15px;
			font-size: 20px;
			background: none;
			border: none;
			border-bottom: 1px solid rgba(#2f2f2f, 0.4);
		}
		.ui-accordion-header-active {
			svg {
				transform: rotate(175deg) translateY(50%);
			}
		}
		.ui-accordion .ui-accordion-content {
			margin: 0;
			background: none;
		}
	}
	.footer-columns__link {
		font-size: 17px;
	}
	.footer-bottom {
		padding: 13px 15px;
	}
	.footer__columns {
		flex-direction: column;
	}
	.footer__inner {
		flex-direction: column;
	}
	.ui-accordion-header-icon {
		display: none;
	}
	.footer-socials {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.footer-socials__items {
		column-gap: 26px;
	}
	.footer-socials {
		padding: 0px;
		margin-bottom: 30px;
	}
	.footer-item {
		order: 2;
	}
	.footer__inner {
		order: 2;
		padding: 0 15px;
		margin-top: 30px;
		.footer-item__logo {
			display: none;
		}
		.footer-item__sub-title {
			display: none;
		}
	}

	.footer-socials__name {
		margin-bottom: 0;
	}
}
@media (max-width: 480px) {
	.header-top {
		padding-bottom: 7px;
		padding-top: 7px;
	}
	.header-top__item {
		font-size: 10px;
	}
	.footer-bottom__inner {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}
@media (max-width: 360px) {
	.logo {
		width: 160px;
	}
}
.burger-menu {
	&::before,
	span,
	&::after {
		transition: 0.6s;
	}
}
.menu-open {
	overflow: hidden;
	.burger-menu {
		&::after {
			display: none;
		}
		span,
		&::before {
			top: 50%;
			transform: rotate(45deg);
		}
		&::before {
			top: 50%;
			transform: rotate(-45deg);
		}
	}
}
.header {
	background-color: #fff;
	position: relative;
	z-index: 23;
}
.menu-catalog {
	display: none;
	background-color: #9a2c31;
	padding: 31px 15px;
	overflow: auto;
	position: absolute;
	width: 100%;
	transform: translateX(-1500px);
	transition: 0.6s;
	.ui-accordion-header-icon {
		display: none;
	}
	.menu-catalog__links {
		padding: 10px;
		display: flex;
		flex-direction: column;
		row-gap: 15px;
	}
	&__link {
		color: #fff;
		font-family: Montserrat;
		font-weight: 500;
		text-align: center;
	}
	&__name {
		font-family: Days One;
		font-size: 16px;
		font-weight: 400;
		line-height: 20px;
		letter-spacing: 0em;
		text-align: left;
		color: #fff;
		display: flex;
		align-items: center;
		column-gap: 18px;
	}
	&__arrow {
		margin-left: auto;
		transition: 0.7s;
	}
	&__item {
	}
}
.ui-accordion-header-active {
	.menu-catalog__arrow {
		transform: rotate(180deg);
	}
}
.search-header {
	display: none;
	transform: translateX(-1500px);
	transition: 0.6s;
	position: absolute;
	width: 100%;
	background-color: #9a2c31;
	width: 100%;
	padding: 12px;
	.search__input {
		padding: 11px;
		font-family: Montserrat;
		font-size: 14px;
		font-weight: 300;
		line-height: 1.2;
		letter-spacing: 0em;
		text-align: left;
		background: none;
		border: 1px solid #fff;
		color: #fff;
		&::placeholder {
			color: #fff;
		}
	}
	.header-search__item {
		border-bottom: #d2d2d2 solid 1px;
		padding-bottom: 15px;
	}
	.header-search {
		width: 100%;
		position: static;
		transform: scale(1);
	}
}
.contacts-header {
	display: none;
	transform: translateX(-1500px);
	transition: 0.6s;
	position: absolute;
	background-color: #9a2c31;
	padding: 24px 12px;
	width: 100%;
	&__numbers {
		display: flex;
		flex-direction: column;
		margin-bottom: 142px;
	}
	&__num {
		font-family: Montserrat;
		font-size: 20px;
		font-weight: 500;
		line-height: 1.6;
		letter-spacing: 0em;
		text-align: left;
		color: #fff;
	}
	&__mail {
		font-family: Montserrat;
		font-size: 11px;
		font-weight: 500;
		line-height: 1.6;
		letter-spacing: 0em;
		text-align: left;
		color: #fff;
	}
	&__text {
		font-family: Montserrat;
		font-size: 10px;
		font-weight: 500;
		line-height: 17px;
		letter-spacing: 0em;
		text-align: left;
		color: #fff;
		margin-bottom: 23px;
	}
	&__socials {
		display: flex;
		column-gap: 20px;
	}
}
@media (max-width: 840px) {
	.menu-catalog {
		display: block;
	}
	.search-header {
		display: block;
	}
	.contacts-header {
		display: block;
	}
}
.catalog-open {
	.menu-catalog {
		transform: translate(0);
	}
}
.search-open {
	.search-header {
		transform: translate(0);
	}
}
.contacts-open {
	.contacts-header {
		transform: translate(0);
	}
}
.menu-open {
	.header {
		position: fixed;
		width: 100%;
		top: 0;
	}
}
.search-header {
	min-height: 100px;

	.header-search {
		transform: scale(0);
		height: 0;
		transition: 0.4s;
	}
	.header-search-open {
		transform: scale(1);
		height: 100%;
	}
}
