.home-slider {
  position: relative;
  padding-bottom: 81px;
  overflow: hidden;
}

.sidebar-slider {
  position: absolute;
  top: 56px;
  left: 0;
  z-index: 5;
  display: flex;
  flex-direction: column;
  row-gap: 11px;
  padding: 31px 47px;
  background-color: #fff;
}
.sidebar-slider__item {
  display: flex;
  align-items: center;
  -moz-column-gap: 17px;
       column-gap: 17px;
  font-family: "Days One", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  color: #2f2f2f;
  letter-spacing: 0em;
  text-align: left;
  transition: 0.6s;
  text-transform: uppercase;
}
.sidebar-slider__item svg path {
  transition: 0.6s;
}
.sidebar-slider__item:hover {
  color: red;
}
.sidebar-slider__item:hover svg path {
  fill: red;
}
.sidebar-slider__btn {
  display: block;
  width: 285px;
  background-color: #2f2f2f;
  margin-top: 38px;
  color: #fff;
  padding: 16px;
  text-align: center;
}

.swiper-home {
  overflow: hidden;
}
.swiper-home__image {
  position: relative;
  max-width: 100%;
  width: 100%;
  overflow: hidden;
}
.swiper-home__img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: calc(100vh - 120px);
}
.swiper-home__content {
  bottom: 142px;
  width: 100%;
  padding: 55px;
  row-gap: 31px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
}
.swiper-home__inner {
  max-width: 800px;
  display: inline-block;
}
.swiper-home__sub-title {
  font-family: Days One;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}
.swiper-home__title {
  font-family: Days One;
  font-size: 48px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}
.swiper-home__desc {
  font-family: Days One;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}

.swiper-home-btn {
  position: absolute;
  bottom: 7px;
  cursor: pointer;
  display: flex;
  background-color: rgba(47, 47, 47, 0.6);
}
.swiper-home-btn_prev {
  left: 123px;
}
.swiper-home-btn_next {
  right: 123px;
}
.swiper-home-btn_next .swiper-home-btn__arrows {
  transform: translate(-50%, -50%) rotate(180deg);
}
.swiper-home-btn__text {
  display: flex;
  flex-direction: column;
  padding: 0 55px;
  justify-content: center;
}
.swiper-home-btn__title {
  max-width: 352px;
  margin-bottom: 7px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}
.swiper-home-btn__desc {
  max-width: 352px;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}
.swiper-home-btn__image {
  width: 253px;
  height: 127px;
  position: relative;
  overflow: hidden;
}
.swiper-home-btn__image::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
}
.swiper-home-btn__image-text {
  display: none;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}
.swiper-home-btn__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.swiper-home-btn__arrows {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  transform: translate(-50%, -50%);
}
.swiper-home-btn__arrow {
  width: 66px;
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
  border-radius: 50%;
}

.advantages {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 42px;
  row-gap: 18px;
  -moz-column-gap: 18px;
       column-gap: 18px;
}
.advantages__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 462px;
  margin: 0 auto;
  width: 100%;
  border: 2px solid rgba(47, 47, 47, 0.1);
  padding: 22px;
  border-radius: 7px;
}
.advantages__icon {
  width: 70px;
  height: 70px;
  -o-object-fit: contain;
     object-fit: contain;
}
.advantages__title {
  font-family: Days One;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 7px;
  color: #2f2f2f;
}
.advantages__sub-title {
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: #747474;
}

.promotion {
  padding-bottom: 84px;
  max-width: 100%;
  overflow: hidden;
}

.slider-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}
.slider-header__content {
  display: flex;
  align-items: center;
}
.slider-header__title {
  margin-right: 49px;
}
.slider-header__buttons {
  display: flex;
}

.promotion-item {
  max-width: 512px;
  overflow: hidden;
  border-radius: 9px;
  border: rgba(154, 44, 49, 0.4) 2px solid;
  cursor: pointer;
  transition: 0.6s;
}
.promotion-item__img {
  width: 100%;
  height: 296px;
  overflow: hidden;
}
.promotion-item__image {
  position: relative;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.promotion-item__type {
  position: absolute;
  font-family: Montserrat;
  font-size: 11px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  padding: 6px 19px;
  color: #fff;
  top: 10px;
  left: -2px;
  background-color: #9a2c31;
}
.promotion-item__name {
  padding: 28px 18px 64px;
  color: #2f2f2f;
}

.recommendation {
  width: 100%;
  overflow: hidden;
  padding-bottom: 87px;
}
.recommendation .slider-header__buttons {
  display: none;
}
.recommendation__swiper {
  overflow: hidden;
}

.recommendation-item {
  max-width: 369px;
  border: 2px solid rgba(154, 44, 49, 0.4);
  overflow: hidden;
  border-radius: 9px;
}
.recommendation-item__img {
  height: 282px;
  width: 100%;
  overflow: hidden;
}
.recommendation-item__icon {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.recommendation-item__text {
  padding: 14px 14px 0;
}
.recommendation-item__name {
  margin-bottom: 14px;
}
.recommendation-item__desc {
  color: #b8b8b8;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 20px;
}
.recommendation-item__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.recommendation-item__logo {
  max-width: 116px;
}
.recommendation-item .btn-detail {
  -moz-column-gap: 19px;
       column-gap: 19px;
  border: 1px solid rgba(154, 44, 49, 0.4);
  border-bottom: none;
  border-right: none;
  transform: translateX(14px);
  padding: 8px 14px;
}

.new-articles {
  padding-bottom: 79px;
}
.new-articles .slider-header {
  display: none;
}
.new-articles__inner {
  display: flex;
  max-width: 100%;
  overflow: hidden;
  -moz-column-gap: 38px;
       column-gap: 38px;
}

.articles-slider {
  flex: 1 1;
}

.new-banners-white {
  position: relative;
  flex: 1 1 auto;
}
.new-banners-white__bg {
  position: absolute;
  background-color: #fff;
  width: 105%;
  z-index: 2;
  height: 100%;
  top: 0;
  left: 0;
}

.new-banners {
  z-index: 3;
  position: relative;
  max-width: 675px;
  min-width: 675px;
  height: 100%;
  overflow: hidden;
  border: rgba(154, 44, 49, 0.3) 1px solid;
  border-radius: 0 12px 12px 0;
}
.new-banners__image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.new-banners__buttons {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 30px;
  top: 17px;
}
.new-banners__btn {
  position: absolute;
  bottom: 0;
  right: 0;
  border: 1px #9a2c31 solid;
  display: flex;
  background-color: rgba(47, 47, 47, 0.6);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0em;
  text-align: center;
  align-items: center;
  padding: 16px 16px 16px 43px;
  -moz-column-gap: 67px;
       column-gap: 67px;
  color: #fff;
}
.new-banners__title {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  transform: translate(-50%, -50%);
}
.new-banners__title span {
  margin-left: 30px;
}
.new-banners__bg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.new-banners__content {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.new-banners .swiper-button-disabled {
  opacity: 0.3;
}

.articles-item {
  max-width: 492px;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid rgba(154, 44, 49, 0.4);
}
.articles-item__image {
  margin-bottom: 40px;
  position: relative;
  width: 100%;
  height: 297px;
}
.articles-item__image-container {
  overflow: hidden;
  width: 100%;
  height: 297px;
}
.articles-item__image::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
}
.articles-item__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.articles-item__content {
  padding: 0 33px;
}
.articles-item__name {
  margin-bottom: 66px;
}
.articles-item__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.articles-item__date {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.4;
  color: #9a2c31;
  letter-spacing: 0em;
  text-align: left;
}
.articles-item__tags {
  position: absolute;
  -moz-column-gap: 20px;
       column-gap: 20px;
  display: flex;
  align-items: center;
  bottom: 28px;
  right: 11px;
}
.articles-item__logo {
  position: absolute;
  bottom: 0;
  left: 20px;
  transform: translateY(50%);
  overflow: visible;
  z-index: 2;
  background-color: #fff;
  padding: 7px 11px;
  border-radius: 13px;
}
.articles-item__tag {
  background-color: rgba(47, 47, 47, 0.8);
  padding: 7px 15px;
  border-radius: 13px;
}
.articles-item .btn-detail {
  transform: translateX(33px);
  border: #9a2c31 solid 1px;
  border-bottom: none;
  border-right: none;
  -moz-column-gap: 19px;
       column-gap: 19px;
  padding: 8px 14px;
}

.shops {
  padding-bottom: 82px;
}
.shops .swiper-wrapper {
  align-items: center;
}
.shops .min-container {
  overflow: hidden;
}
.shops .swiper-slide {
  max-width: 174px;
}
.shops .swiper-button-disabled {
  opacity: 0.4;
}

.shop-link {
  max-width: 100%;
}

.about-us {
  padding-bottom: 74px;
}
.about-us__name {
  margin-bottom: 60px;
}
.about-us__items {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.about-item {
  display: flex;
}
.about-item__image {
  max-width: 397px;
  height: 397px;
  overflow: hidden;
  background-color: green;
}
.about-item__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about-item__content {
  padding: 36px 39px;
  max-width: 397px;
  width: 100%;
}
.about-item__name {
  margin-bottom: 23px;
}
.about-item__desc {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.8;
  letter-spacing: 0em;
  text-align: left;
  color: #888888;
  max-width: 310px;
}/*# sourceMappingURL=home.css.map */