.news__inner {
	display: flex;
	justify-content: space-between;
}
.breadcrumbs {
	padding: 16px 0;
	background-color: rgba(#000, 0.6);
	width: 100%;
	position: absolute;
	z-index: 4;
	&__inner {
		display: flex;
		column-gap: 29px;
	}
	&__item {
		font-family: Montserrat;
		font-size: 14px;
		font-weight: 500;
		line-height: 1.3;
		letter-spacing: 0em;
		text-align: left;
		position: relative;
		color: #fff;
		&::before {
			content: '/';
			position: absolute;
			left: -15px;
		}
		&:first-child {
			&::before {
				content: '';
			}
		}
	}
	&__link {
		color: #fff;
		transition: 0.6s;
		&:hover {
			color: red;
		}
	}
}

.news-banner {
	overflow: hidden;
	position: relative;
	overflow: hidden;
	&::before {
		content: '';
		z-index: 2;
		width: 64%;
		height: 100%;
		background-color: rgba(#000000, $alpha: 0.5);
		position: absolute;
	}
	&__content {
		display: flex;
		justify-content: space-between;
		align-items: end;
	}
	&__text {
		margin-top: auto;
		border: #fff 1px solid;
		margin-top: 177px;
		margin-bottom: 29px;
	}
	&__title,
	&__date {
		position: relative;
		z-index: 2;
	}
	&__date {
		font-family: Montserrat;
		font-size: 11px;
		font-weight: 500;
		line-height: 1.2;
		letter-spacing: 0em;
		text-align: left;
		color: #fff;
		margin-bottom: 10px;
	}
	&__title {
		font-family: Days One;
		font-size: 40px;
		font-weight: 400;
		line-height: 1.3;
		letter-spacing: 0em;
		text-align: left;
		color: #fff;
		max-width: 900px;
	}
	&__images {
		width: 100%;
		height: 100%;
		position: absolute;
		max-width: 64%;
	}
	&__img {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
}
.banner-column {
	position: relative;
	max-width: 493px;
	z-index: 2;
	padding-right: 10px;
	width: 100%;
	padding-bottom: 10px;
	&__content {
		border: 7px solid #e3e4e4;
		border-radius: 10px;
		display: flex;
		align-items: center;
		flex-direction: column;
		padding-top: 54px;
		padding-bottom: 16px;
		margin-bottom: 34px;
	}
	.socials {
		padding-top: 0;
	}
	&__button__item {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__button__item-min {
		flex-direction: row-reverse;
		column-gap: 8px;
	}
	&__logo {
		max-width: 473px;
		margin-bottom: 45px;
	}
	&__buttons {
		display: flex;
		column-gap: 22px;
	}
	&__btn {
		margin-bottom: 6px;
		background-color: #e6e6e6;
		border-radius: 50%;
		width: 40px;
		height: 40px;
		transition: 0.6s;
		svg {
			path {
				transition: 0.6s;
			}
		}
		&:hover {
			background-color: #9a2c31;
			svg {
				path {
					fill: #fff;
				}
			}
		}
	}
	&__button__text {
		font-family: Montserrat;
		font-size: 13px;
		font-weight: 500;
		line-height: 1.4;
		letter-spacing: 0em;
		text-align: center;
	}
	&__footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
.socials {
	border-top: 1px solid #f4f4f4;
	padding-top: 26px;
	align-items: center;
	display: flex;
	&__desc {
		font-family: Montserrat;
		font-size: 16px;
		font-weight: 700;
		line-height: 1.3;
		margin-right: 12px;
		letter-spacing: 0em;
		text-align: left;
	}
	&__items {
		display: flex;
		column-gap: 10px;
	}
	&__item {
		svg {
			path {
				transition: 0.6s;
			}
		}
		&:hover {
			svg {
				path {
					fill: rgb(218, 5, 5);
				}
			}
		}
	}
}
.news-content {
	margin-top: 48px;
	margin-bottom: 32px;
	max-width: 1049px;
	padding: 30px;
	background-color: #ffff;
	&__column {
		background-color: #f4f4f4;
		padding: 35px;
		font-family: Montserrat;
		font-size: 16px;
		font-style: italic;
		font-weight: 500;
		line-height: 1.3;
		color: #505050;
		letter-spacing: 0em;
		text-align: left;
	}
	&__title {
		color: #c0392b;
		font-family: Montserrat;
		font-size: 20px;
		font-weight: 900;
		line-height: 1.3;
		letter-spacing: -0.5px;
		text-align: left;
		margin-top: 26px;
		margin-bottom: 20px;
	}
	&__desc {
		font-family: Montserrat;
		font-size: 16px;
		font-weight: 500;
		line-height: 1.4;
		letter-spacing: 0em;
		text-align: left;
		color: #505050;
		margin-bottom: 18px;
		span {
			color: #b50910;
		}
	}
	&__image {
		width: 100%;
		height: 413px;
		overflow: hidden;
		margin-bottom: 18px;
	}
	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.sidebar-news {
	margin-top: 40px;
	&__title {
		font-family: Montserrat;
		font-size: 30px;
		font-weight: 700;
		line-height: 1.3;
		margin-bottom: 60px;
		letter-spacing: 0em;
		text-align: left;
	}
	&__items{
		display: flex;
		flex-direction: column;
		row-gap: 62px;
	}
}
.articles-item {
	height: fit-content;
	max-width: 492px;
	border-radius: 12px;
	position: relative;
	overflow: hidden;
	border: 1px solid rgba(#9a2c31, 0.4);
	&__image {
		margin-bottom: 40px;
		position: relative;
		width: 100%;
		height: 297px;

		&-container {
			overflow: hidden;
			width: 100%;
			height: 297px;
		}
		&::before {
			content: '';
			width: 100%;
			height: 100%;
			background-color: rgba(black, 0.2);
			position: absolute;
		}
	}
	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	&__content {
		padding: 0 33px;
	}
	&__footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 54px;
	}
	&__date {
		font-family: Montserrat;
		font-size: 12px;
		font-weight: 500;
		line-height: 1.4;
		color: #9a2c31;
		letter-spacing: 0em;
		text-align: left;
	}
	&__tags {
		position: absolute;
		column-gap: 20px;
		display: flex;
		align-items: center;
		bottom: 28px;
		right: 11px;
	}
	&__logo {
		position: absolute;
		bottom: 0;
		left: 20px;
		transform: translateY(50%);
		overflow: visible;
		z-index: 2;
		background-color: #fff;
		padding: 7px 11px;
		border-radius: 13px;
	}
	&__tag {
		background-color: rgba(#2f2f2f, 0.8);
		padding: 7px 15px;
		border-radius: 13px;
	}
	.btn-detail {
		transform: translateX(33px);
		border: #9a2c31 solid 1px;
		border-bottom: none;
		border-right: none;
		column-gap: 19px;
		padding: 12px 14px;
		svg {
			height: 15px;
		}
	}
}