.breadcrumbs {
  padding: 16px 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  position: absolute;
  z-index: 4;
}
.breadcrumbs__inner {
  display: flex;
  -moz-column-gap: 29px;
       column-gap: 29px;
}
.breadcrumbs__item {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 0em;
  text-align: left;
  position: relative;
  color: #fff;
}
.breadcrumbs__item::before {
  content: "/";
  position: absolute;
  left: -15px;
}
.breadcrumbs__item:first-child::before {
  content: "";
}
.breadcrumbs__link {
  color: #fff;
  transition: 0.6s;
}
.breadcrumbs__link:hover {
  color: red;
}

.news-banner {
  overflow: hidden;
  position: relative;
  overflow: hidden;
}
.news-banner::before {
  content: "";
  z-index: 2;
  width: 64%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
}
.news-banner__content {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.news-banner__text {
  margin-top: auto;
  border: #fff 1px solid;
  margin-top: 177px;
  margin-bottom: 29px;
}
.news-banner__title, .news-banner__date {
  position: relative;
  z-index: 2;
}
.news-banner__date {
  font-family: Montserrat;
  font-size: 11px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  margin-bottom: 10px;
}
.news-banner__title {
  font-family: Days One;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  max-width: 900px;
}
.news-banner__images {
  width: 100%;
  height: 100%;
  position: absolute;
  max-width: 64%;
}
.news-banner__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.banner-column {
  position: relative;
  max-width: 493px;
  z-index: 2;
  padding-right: 10px;
  width: 100%;
  padding-bottom: 10px;
}
.banner-column__content {
  border: 7px solid #e3e4e4;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 54px;
  padding-bottom: 16px;
  margin-bottom: 34px;
}
.banner-column .socials {
  padding-top: 0;
}
.banner-column__button__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner-column__button__item-min {
  flex-direction: row-reverse;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
.banner-column__logo {
  max-width: 473px;
  margin-bottom: 45px;
}
.banner-column__buttons {
  display: flex;
  -moz-column-gap: 22px;
       column-gap: 22px;
}
.banner-column__btn {
  margin-bottom: 6px;
  background-color: #e6e6e6;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: 0.6s;
}
.banner-column__btn svg path {
  transition: 0.6s;
}
.banner-column__btn:hover {
  background-color: #9a2c31;
}
.banner-column__btn:hover svg path {
  fill: #fff;
}
.banner-column__button__text {
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0em;
  text-align: center;
}
.banner-column__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socials {
  border-top: 1px solid #f4f4f4;
  padding-top: 26px;
  align-items: center;
  display: flex;
}
.socials__desc {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3;
  margin-right: 12px;
  letter-spacing: 0em;
  text-align: left;
}
.socials__items {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.socials__item svg path {
  transition: 0.6s;
}
.socials__item:hover svg path {
  fill: rgb(218, 5, 5);
}

.news-content {
  margin-top: 48px;
  margin-bottom: 32px;
  max-width: 1049px;
  padding: 30px;
  background-color: white;
}
.news-content__column {
  background-color: #f4f4f4;
  padding: 35px;
  font-family: Montserrat;
  font-size: 16px;
  font-style: italic;
  font-weight: 500;
  line-height: 1.3;
  color: #505050;
  letter-spacing: 0em;
  text-align: left;
}
.news-content__title {
  color: #c0392b;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 900;
  line-height: 1.3;
  letter-spacing: -0.5px;
  text-align: left;
  margin-top: 26px;
  margin-bottom: 20px;
}
.news-content__desc {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0em;
  text-align: left;
  color: #505050;
  margin-bottom: 18px;
}
.news-content__desc span {
  color: #b50910;
}
.news-content__image {
  width: 100%;
  height: 413px;
  overflow: hidden;
  margin-bottom: 18px;
}
.news-content__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=news.css.map */