.breadcrumbs {
	padding: 16px 0;
	width: 100%;
	&__inner {
		display: flex;
		column-gap: 29px;
	}
	&__item {
		font-family: Montserrat;
		font-size: 14px;
		font-weight: 500;
		line-height: 1.3;
		letter-spacing: 0em;
		text-align: left;
		position: relative;
		color: #747474;
		&::before {
			content: '/';
			position: absolute;
			left: -15px;
		}
		&:first-child {
			&::before {
				content: '';
			}
		}
	}
	&__link {
		color: #747474;
		transition: 0.6s;
		&:hover {
			color: red;
		}
	}
}
.products-inner {
	padding: 90px 0 75px;
}
.product {
	&__title {
		margin-bottom: 44px;
	}
}
.about-product {
	display: flex;
	justify-content: space-between;
	column-gap: 20px;
	align-items: center;
	padding-bottom: 40px;
	&__brand-link {
		font-family: Montserrat;
		font-size: 14px;
		font-weight: 500;
		line-height: 1.2;
		letter-spacing: 0em;
		text-align: left;
		color: #2F2F2F;
		a{
			color: #2F2F2F;
			transition: 0.6s;
			font-weight: 700;
			&:hover{
				color: #9A2C31;
			}
		}
	}
	&__image {
		overflow: hidden;
		width: 753px;
		height: 540px;
	}
	&__img {
		object-fit: cover;
		width: 100%;
	}
	&__content {
		max-width: 785px;
	}
	&__brand {
		display: flex;
		align-items: center;
		column-gap: 50px;
		margin-bottom: 60px;
	}
	&__brand-img {
		max-width: 139px;
		object-fit: contain;
	}
	&__desc {
		font-family: Montserrat;
		font-size: 16px;
		font-weight: 500;
		line-height: 1.7;
		margin-bottom: 90px;
		color: #505050;
		letter-spacing: 0em;
		text-align: left;
	}
	&__btn {
		max-width: 256px;
		font-size: 14px;
		padding: 7px 14px;
		column-gap: 32px;
		margin-bottom: 35px;
	}
}
.socials {
	border-top: 1px solid #f4f4f4;
	padding-top: 26px;
	align-items: center;
	display: flex;
	&__desc {
		font-family: Montserrat;
		font-size: 16px;
		font-weight: 700;
		line-height: 1.3;
		margin-right: 12px;
		letter-spacing: 0em;
		text-align: left;
	}
	&__items {
		display: flex;
		column-gap: 10px;
	}
	&__item {
		svg {
			path {
				transition: 0.6s;
			}
		}
		&:hover {
			svg {
				path {
					fill: rgb(218, 5, 5);
				}
			}
		}
	}
}
.desc-product-name {
	font-family: Days One;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.3;
	letter-spacing: 0em;
	text-align: left;
	color: #2f2f2f;
}
.desc-product {
	padding-top: 40px;
	padding-bottom: 81px;
	display: flex;
	column-gap: 20px;
	justify-content: space-between;
}
.product-desc {
	max-width: 657px;
	&__name {
		margin-bottom: 51px;
	}
	&__text {
		font-family: Montserrat;
		font-size: 16px;
		font-weight: 400;
		line-height: 1.4;
		letter-spacing: 0em;
		text-align: left;
		color: #000000;
	}
}
.about-brand {
	max-width: 756px;
	width: 100%;
	&__name {
		margin-bottom: 27px;
	}
	&__item {
		display: flex;
		padding: 9px 0;
		font-weight: 500;
		&:nth-child(2n) {
			background-color: #f4f4f4;
		}
		&_color {
			background-color: #9a2c31;
			color: #fff;
			font-weight: 700;
		}
	}
	&__text {
		padding: 0 15px;
		width: 50%;
		font-family: Montserrat;
		font-size: 13px;

		line-height: 1.2;
		letter-spacing: 0em;
		text-align: left;
	}
}
.services-gallery {
	padding-bottom: 75px;
	overflow: hidden;
	&__name {
		margin-bottom: 60px;
	}
	&__items {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		grid-gap: 12px;
	}
	&__item {
		overflow: hidden;
		cursor: pointer;
		transition: 0.6s;
		width: 100%;
		height: 344px;
		a {
			position: relative;
			display: block;
			width: 100%;
			height: 100%;
			&::before {
				content: '';
				background-color: rgba(#070505, 0.7);
				width: 100%;
				height: 100%;
				position: absolute;
				background-image: url('../img/gallery-plus.svg');
				background-repeat: no-repeat;
				background-position: center;
				transition: 0.6s;
				opacity: 0;
			}
		}
		&:nth-child(1) {
			background-color: red;
			grid-column-start: 1;
			grid-column-end: 3;
			grid-row-start: 1;
			grid-row-end: 2;
		}
		&:nth-child(2) {
			background-color: rgb(72, 255, 0);
			grid-column-start: 3;
			grid-column-end: 4;
			grid-row-start: 1;
			grid-row-end: 2;
		}
		&:nth-child(3) {
			background-color: rgb(212, 0, 255);
			grid-row-start: 1;
			grid-row-end: 3;
			grid-column-start: 4;
			grid-column-end: 5;
			height: 700px;
		}
		&:nth-child(4) {
			background-color: rgb(76, 0, 255);
			grid-row-start: 1;
			grid-row-end: 2;
			grid-column-start: 5;
			grid-column-end: 6;
		}
		&:nth-child(5) {
			background-color: rgb(24, 26, 24);
		}
		&:nth-child(6) {
			background-color: rgb(0, 195, 255);
			grid-column-start: 2;
			grid-column-end: 4;
		}
		&:nth-child(7) {
			background-color: rgb(113, 78, 117);
			grid-column-start: 5;
			grid-column-end: 6;
		}

		&:hover {
			a {
				&::before {
					opacity: 1;
				}
			}
		}
	}
	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.promotion {
	padding-bottom: 84px;
	max-width: 100%;
	overflow: hidden;
}
.slider-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 60px;
	&__content {
		display: flex;
		align-items: center;
	}
	&__title {
		margin-right: 49px;
	}
	&__buttons {
		display: flex;
	}
}
.promotion-item {
	max-width: 512px;
	overflow: hidden;
	border-radius: 9px;
	border: rgba(#9a2c31, 0.4) 2px solid;
	cursor: pointer;
	transition: 0.6s;

	&__img {
		width: 100%;
		height: 296px;
		overflow: hidden;
	}
	&__image {
		position: relative;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__type {
		position: absolute;
		font-family: Montserrat;
		font-size: 11px;
		font-weight: 700;
		line-height: 17px;
		letter-spacing: 0em;
		text-align: left;
		padding: 6px 19px;
		color: #fff;
		top: 10px;
		left: -2px;
		background-color: #9a2c31;
	}
	&__name {
		padding: 28px 18px 64px;
		color: #2f2f2f;
	}
}
.about-product__img {
	height: 100%;
}
.about-product__image {
	min-width: 700px;
}
.about-brand {
	min-width: 600px;
}
.about-images {
	display: none;
	justify-content: space-between;
	width: 100%;
	margin-top: 33px;
	&__images {
		max-width: 206px;
		height: 117px;
		overflow: hidden;
		transition: 0.6s;
	}
	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	.about-images-active {
		border: 2px #aa060e solid;
	}
}
@media (max-width: 1300px) {
	.product__title {
		font-size: 45px;
	}
	.products-inner {
		padding: 70px 0 60px;
	}
	.about-product {
		flex-wrap: wrap;
		justify-content: center;
	}
	.socials {
		display: none;
	}
	.about-product {
		padding-bottom: 20px;
	}
	.desc-product {
		justify-content: center;
		flex-wrap: wrap;
		row-gap: 20px;
	}
	.about-product__desc {
		margin-bottom: 40px;
	}
	.product-desc,
	.about-product__content {
		max-width: 100%;
	}
	.about-product__brand {
		justify-content: space-between;
		margin-top: 34px;
		margin-bottom: 40px;
	}
	.about-product__desc {
		max-width: 100%;
	}
	.desc-product-name {
		margin-bottom: 16px;
	}
	.desc-product {
		padding-top: 0;
	}
}
@media (max-width: 1200px) {
	.services-gallery__name {
		font-size: 45px;
		margin-bottom: 50px;
	}
	.services-gallery__items {
		display: flex;
	}
	.services-gallery__swiper {
		overflow: hidden;
	}
	.services-gallery__item {
		max-width: 400px;
		height: 400px;
	}
	.services-gallery__item:nth-child(3) {
		height: 400px;
	}
}
@media (max-width: 768px) {
	.promotion__swiper{
		padding-left: 15px;
	}
	.name {
		font-size: 35px;
	}
	.breadcrumbs {
		display: none;
	}
	.products-inner {
		padding-top: 20px;
	}
	.about-images {
		display: flex;
	}
	.about-product__image,
	.about-brand {
		min-width: 100%;
	}
	.about-product__image {
		height: 400px;
	}
	.product__title {
		font-size: 40px;
		margin-bottom: 20px;
	}
	.promotion {
		padding-bottom: 0;
		.btn-detail {
			display: none;
		}
	}
	.slider-header__content {
		width: 100%;
		justify-content: space-between;
	}
}
@media (max-width: 533px) {
	.promotion-item__img {
		height: 26%;
	}

	.promotion-item__name {
		padding: 19px 24px 43px;
	}
	.promotion__swiper {
		padding: 0 15px;
	}
	.promotion {
		padding-bottom: 0;
	}
	.about-images__images {
		max-width: 106px;
		height: 77px;
	}
	.about-product__image {
		height: 262px;
	}
	.products-inner {
		padding-top: 10px;
	}

	.about-product__brand {
		margin-bottom: 32px;
	}
	.about-brand__text {
		font-size: 11px;
	}
	.desc-product {
		padding-bottom: 50px;
	}
	.name {
		font-size: 20px;
	}
	.services-gallery__item,
	.services-gallery__item:nth-child(3) {
		height: 332px;
		width: 310px;
	}
	.product__title {
		font-size: 30px;
		margin-bottom: 11px;
	}
}
