.breadcrumbs {
  padding: 16px 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
}
.breadcrumbs__inner {
  display: flex;
  -moz-column-gap: 29px;
       column-gap: 29px;
}
.breadcrumbs__item {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 0em;
  text-align: left;
  position: relative;
  color: #fff;
}
.breadcrumbs__item::before {
  content: "/";
  position: absolute;
  left: -15px;
}
.breadcrumbs__item:first-child::before {
  content: "";
}
.breadcrumbs__link {
  color: #fff;
  transition: 0.6s;
}
.breadcrumbs__link:hover {
  color: red;
}

.socials {
  border-top: 1px solid #f4f4f4;
  padding-top: 26px;
  align-items: center;
  display: flex;
}
.socials__desc {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3;
  margin-right: 12px;
  letter-spacing: 0em;
  text-align: left;
}
.socials__items {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.socials__item svg path {
  transition: 0.6s;
}
.socials__item:hover svg path {
  fill: rgb(218, 5, 5);
}

.promotion-content {
  display: grid;
  padding-top: 20px;
  padding-bottom: 70px;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.promotion-content__images {
  width: 100%;
  height: 100%;
  height: 818px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.promotion-content__images::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  left: 0;
  transition: 0.6s;
  background-color: rgba(0, 0, 0, 0.6);
}
.promotion-content__images:hover::after {
  opacity: 1;
}
.promotion-content__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.promotion-content__sub-title {
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0em;
  text-align: left;
  color: #2f2f2f;
  margin-bottom: 30px;
}
.promotion-content__title {
  font-family: Days One;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0em;
  text-align: left;
  color: #2f2f2f;
  margin-bottom: 30px;
}
.promotion-content__name {
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0em;
  text-align: left;
  color: #2f2f2f;
  margin-bottom: 20px;
}
.promotion-content__name_mb {
  margin-bottom: 30px;
}
.promotion-content__desc {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #505050;
  margin-bottom: 38px;
}
.promotion-content .socials {
  margin-bottom: 31px;
}
.promotion-content__list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.promotion-content__list-name, .promotion-content__list-text {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0em;
  text-align: left;
  color: #505050;
}
.promotion-content__list-text {
  font-size: 14px;
}
.promotion-content__btn {
  max-width: 256px;
  font-size: 14px;
  padding: 8px 9px;
  -moz-column-gap: 10px;
       column-gap: 10px;
  justify-content: space-between;
  border-width: 1px;
}
.promotion-content__items {
  display: flex;
  -moz-column-gap: 52px;
       column-gap: 52px;
  align-items: center;
}
.promotion-content__brand {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  width: 130px;
  height: 130px;
  transition: 0.6s;
}
.promotion-content__brand:hover {
  box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.2509803922);
}
.promotion-content__brand img {
  width: 113px;
  -o-object-fit: cover;
     object-fit: cover;
}

.remodal-is-opened .remodal-promotion {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media (max-width: 1550px) {
  .promotion-content__title {
    font-size: 26px;
  }
  .promotion-content__sub-title {
    margin-bottom: 20px;
  }
  .promotion-content__name_mb {
    margin-bottom: 20px;
  }
}
@media (max-width: 1124px) {
  .promotion-content {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }
  .promotion-content__items {
    justify-content: space-between;
  }
}
@media (max-width: 850px) {
  .promotion-content__images {
    height: 574px;
  }
  .promotion-content__title {
    font-size: 23px;
  }
}
@media (max-width: 768px) {
  .breadcrumbs {
    display: none;
  }
  .promotion-content__images {
    min-height: 320px;
    height: auto;
  }
  .promotion-content__title {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .promotion-content__brand img {
    width: 61px;
  }
  .promotion-content__brand {
    width: 80px;
    height: 80px;
  }
  .promotion-content__btn {
    padding: 3px 4px;
    font-size: 12px;
  }
  .promotion-content__btn svg {
    width: 18px;
  }
  .promotion-content__desc {
    margin-bottom: 32px;
  }
  .promotion-content {
    padding-bottom: 50px;
  }
}/*# sourceMappingURL=promotion-page.css.map */