.breadcrumbs {
	padding: 16px 0;
	background-color: rgba(#2f2f2f, 0.6);
	width: 100%;
	&__inner {
		display: flex;
		column-gap: 29px;
	}
	&__item {
		font-family: Montserrat;
		font-size: 14px;
		font-weight: 500;
		line-height: 1.3;
		letter-spacing: 0em;
		text-align: left;
		position: relative;
		color: #fff;
		&::before {
			content: '/';
			position: absolute;
			left: -15px;
		}
		&:first-child {
			&::before {
				content: '';
			}
		}
	}
	&__link {
		color: #fff;
		transition: 0.6s;
		&:hover {
			color: red;
		}
	}
}
.services {
	padding-top: 74px;
	padding-bottom: 73px;
	&__name {
		font-family: Days One;
		font-size: 40px;
		font-weight: 400;
		line-height: 1.3;
		letter-spacing: 0em;
		text-align: left;
		margin-bottom: 74px;
	}
	&__items {
		display: flex;
		flex-wrap: wrap;
		row-gap: 40px;
		column-gap: 38px;
		margin-bottom: 75px;
	}
}
.services-item {
	max-width: 437px;
	border-radius: 12px;
	overflow: hidden;
	margin: 0 auto;
	border: 2px solid rgba(#9a2c31, 0.4);
	&__image {
		margin-bottom: 33px;
		position: relative;
		width: 100%;
		height: 297px;
		overflow: hidden;
		&::before {
			content: '';
			width: 100%;
			height: 100%;
			background-color: rgba(black, 0.2);
			position: absolute;
		}
	}
	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	&__content {
		padding: 0 33px;
	}
	&__name {
		margin-bottom: 61px;
	}
	&__footer {
		display: flex;
		align-items: center;
		justify-content: end;
	}
	.btn-detail {
		transform: translateX(33px);
		border: #9a2c31 solid 1px;
		border-bottom: none;
		border-right: none;
		column-gap: 19px;
		padding: 8px 14px;
	}
}
@media (max-width: 1200px) {
}
@media (max-width: 768px) {
	.breadcrumbs {
		display: none;
	}
	.services__text {
		display: none;
	}
	.services {
		padding: 50px 15px;
	}
	.services__name{
		margin-bottom: 44px;
		font-size: 35px;
	}
}
@media (max-width: 480px) {
	.services{
		padding: 22px 15px;
	}
	.services__name{
		font-size: 30px;
		margin-bottom: 12px;
	}
	.services-item__image{
		margin-bottom: 27px;
	}
	.services-item__image{
		height: 240px;
	}
	.services-item__content{
		padding: 0 16px;
	}
	.services-item .btn-detail{
		transform: translateX(16px);
	}
	.services-item__name{
		margin-bottom: 49px;
	}
}
